<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <title>{{ title }}</title>
</head>
<body>
    
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="/">Accueil</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item"><a class="nav-link" href="/collectivites">Collectivités</a></li>
                <li class="nav-item"><a class="nav-link" href="/postes_comptables">Postes Comptables</a></li>
                <li class="nav-item"><a class="nav-link" href="/comptables">Comptables</a></li>
                <li class="nav-item"><a class="nav-link" href="/nature_sinistre">Nature de Sinistre</a></li>
                <li class="nav-item"><a class="nav-link" href="/cours_comptes">Cours des Comptes</a></li>
                <li class="nav-item"><a class="nav-link" href="/add_entry">Ajouter une Entrée</a></li>

            </ul>
        </div>
    </nav>
    
    <div class="container">
        <h1 class="mt-4">{{ title }}</h1>
        {% block content %}{% endblock %}
    </div>
    <div class="container">
        
        <a href="/statistics" class="btn btn-primary mt-3">Voir les Statistiques</a>
    </div>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
</body>
</html>
